<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{article.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" href="/Logo.ico" type="image/x-icon">
</head>
<body>
  <div class="article-header">
    <a class="article-title" href="/">GUITAR - BLOG</a>
  </div>
  <hr class="bottom-line">
  <div class="article-body">
    <h1>{{ article.title }}</h1>
    {{{ article.content }}}
  </div>
</body>
</html>